---
import BaseHead from "../components/BaseHead.astro";
let title = "ChaiBoona";
let description = "ChaiBoona";
let permalink = "https://chaiboona.com";
---

<BaseHead {title} {description} {permalink} />
<body>
  <div class="post-it-container">
    <div class="post-it" contenteditable>
      <h1>Coming Soon</h1>
      <h3>- ChaiBoona</h3>
    </div>
  </div>
</body>
